.logo {
    font-family: 'Inter Tight', sans-serif;
    font-size: 3rem;
    color: #385DFF;
}

.logo span {
    color: #1E2132;
}

.main-navigation {
    height: 40px;
}

body {
    background: url(../images/main-banner.jpg) no-repeat top center;
}

.main-navigation a {
    color: #1E2132;
}

h1 {
    font-size: 2rem;
}